BASE_URL=http://localhost
ADMIN_USERNAME=replace_me
ADMIN_PASSWORD=replace_me
DB_ROOT_PASSWORD=replace_me
DB_NAME=orangehrm
DB_USER=orangehrm
DB_PASSWORD=replace_me
HEADLESS=true
DB_HOST=ohrm-db
DB_PORT=3306
ORANGEHRM_PORT=80
